/* CLIENTS */

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}
.clients-list__item {
  width: 170px;
  height: 92px;

  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 6 - 30px);
}

.clients-list__link {
  width: 100%;
  height: 100%;

  color: var(--team-social-icon-color);
  border: 1px solid var(--clients-list-link-border);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color var(--time) var(--function-cubic),
    color var(--time) var(--function-cubic);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}
.clients-list__icon {
  fill: currentColor;
}
