/* HEADER-NAVIGATION*/

.header {
  border-bottom: 1px solid var(--header-border-bottom);
  align-content: center;
}

.header-container {
  display: flex;
  align-items: stretch;
  @media screen and (min-width: 768px) {
    // height: 80px;
  }
}

.web {
  color: var(--accent-color);
}

.studio--black {
  color: var(--black);
}

.logo {
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-right: 94px;
  }
}

.logo__link {
  display: block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @media (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.contacts__list {
  display: none;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;
    align-items: flex-start;
    justify-content: center;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-direction: column;
    }

    .contacts__item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @media screen and (min-width: 1200px) {
      align-items: center;

      .contacts__item {
        &:not(:last-child) {
          margin-right: 30px;
          margin-bottom: 0;
        }
      }
    }
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-item__link {
  display: none;
  font-weight: 500;

  letter-spacing: 0.02em;

  color: var(--contact-link-color);
  transition: color var(--time) var(--function-cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: flex;
    font-size: 12px;
    line-height: 1.17;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.14;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}

.contacts__social-icon {
  margin-right: 10px;
  fill: currentColor;
}
