/* HERO*/

.hero {
  background-color: var(--hero-bg-color-new);
  padding: 0;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mobile/hero-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mobile/hero-mobile-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet/hero-tablet-1x.jpg);
    max-width: 768px;
  }

  @media screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet/hero-tablet-2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/desktop/hero-desktop-1x.jpg);
    max-width: 1600px;
  }

  @media screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/desktop/hero-desktop-2x.jpg);
  }
}

.hero__text {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  width: 360px;
  margin: 0 auto 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
