/* PORTFOLIO */

.portfolio {
  display: block;
}

/* FILTER BTN */

/* GALLERY */

.examples__list {
  display: flex;

  flex-wrap: wrap;
  margin-top: 50px;
  margin-right: -30px;
  margin-bottom: -30px;
}

.examples-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.card__link {
  display: block;
  transition: box-shadow var(--time) var(--function-cubic);

  &:focus,
  &:hover {
    box-shadow: var(--examples-list-link-shadow);
  }
  &:focus .card__top-text,
  &:hover .card__top-text {
    transform: translateY(0);
  }
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__top-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--white);
  background-color: var(--card-top-text-background);
  position: absolute;
  transform: translateY(101%);
  transition: transform var(--time) var(--function-cubic);
  /* overflow: auto; */
}

.card__content {
  padding: 20px 24px;
  border: 1px solid var(--card-content-border);
  background: var(--white);
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.card__text {
  color: var(--body-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
