/* TEAM */

.team {
  background-color: var(--team-bg-color);
}

.team__list {
  // display: flex;
  // flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-right: -30px;
  }
}

.team-list__item {
  &:not(:last-child) {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      margin-right: 30px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  .team-list__card {
    display: block;

    max-width: 100%;
    height: auto;

    background: var(--team-card-background);
    box-shadow: var(--team-card-box-shadow);
    border-radius: 0px 0px 4px 4px;
  }

  .team-list__card-content {
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 30px 10px;
  }

  .team-list__item-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--title-text-color);
  }

  .team-list__item-desc {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 16px;
  }

  .socials {
    display: flex;
    justify-content: center;
  }

  .socials__item {
    width: 44px;
    height: 44px;

    // & + & {
    //   margin-left: 10px;
    // }
  }

  .socials__item + .socials__item {
    margin-left: 10px;
  }

  .socials__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--team-social-icon-color);
    background-color: var(--team-social-link-bg-color);
    transition: color var(--time) var(--function-cubic),
      background-color var(--time) var(--function-cubic);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--accent-text-color);
    }
  }

  .socials__icon {
    fill: currentColor;
  }
}
