.filter__list {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -8px;
  margin-bottom: -15px;
  // min-width: 611px;

  @media (min-width: 768px) {
    display: flex;
  }
}

.filter__item {
  display: inline-flex;
  margin-right: 8px;
  margin-bottom: 15px;
}
